{% extends 'base.html' %}

{% block header_title %}Игра в Сапёр{% endblock %}

{% load static %}

{% block background_style %}
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('{% static "images/play_game.jpg" %}') no-repeat center center fixed;
        background-size: cover;
    }
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="minesweeper-board" id="game-board"
         data-boom="{{ boom|yesno:'true,false' }}" data-win="{{ win|yesno:'true,false' }}">
        {% if boom %}
            <div class="game-container">
                <div class="game-message">
                    <h2>Ты взорвался!</h2>
                    <button class="restart-button" onclick="restartGame()">Играть снова</button>
                </div>
            </div>
        {% elif win%}
            <div class="game-container">
                <div class="game-message">
                    <h2>Победа</h2>
                    <button class="restart-button" onclick="restartGame()">Играть снова</button>
                </div>
            </div>
        {% else %}
            <div class="minesweeper-controls">
                <button class="restart-button" onclick="restartGame()">Новая игра</button>
            </div>
            <div class="minesweeper-table">
                {% for row in player_view %}
                <div class="minesweeper-row">
                    {% for cell in row %}
                    <div class="minesweeper-cell"
                        data-x="{{ forloop.parentloop.counter0 }}"
                        data-y="{{ forloop.counter0 }}">
                        {{ cell }}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if not user.is_authenticated %}
        <div class="game-message">
            Войдите чтобы результы сохранялись
        </div>
        {% endif %}
    </div>
    <div class="timer" id="timer">
        00:00:00
    </div>
    <div class="booms-count">
        💣: {{ bombs_count }}
    </div>
</div>
<style>
    .booms-count {
        position: fixed;
        top: 130px;
        right: 240px;
        font-size: 50px;
        color: white;
        background-color:
        rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 5px;
    }

    .timer {
        position: fixed;
        top: 130px;
        left: 240px;
        font-size: 50px;
        color: white;
        background-color:
        rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 5px;
    }

    .minesweeper-table {
        display: inline-block;
        border: 2px solid #333;
        background-color: #bbb;
    }

    .minesweeper-row {
        display: flex;
    }

    .minesweeper-cell {
        width: 30px;
        height: 30px;
        border: 1px solid #888;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        cursor: pointer;
        background-color: #ccc;
        color: rgb(66, 66, 66);
    }

    .minesweeper-cell:hover {
        background-color: #ddd;
    }

    .game-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

     .game-message {
        text-align: center;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        color: white;
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    }

    .defeat-message h2 {
        color: #ff6b6b;
        margin-bottom: 20px;
    }

    .restart-button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }
</style>

<script>
    let seconds = 0;
    let timerInterval;
    let timerStarted = false;
    let boom = false
    let win = false


    document.addEventListener('DOMContentLoaded', addCellEventListeners);

    function game_state_reader(doc) {
        const gameBoard = doc.getElementById('game-board');
        boom = gameBoard.dataset.boom;
        win = gameBoard.dataset.win;
    }

    function startTimer() {
        if (!timerStarted) {
            timerInterval = setInterval(updateTimer, 1000);
            timerStarted = true;
        }
    }

    function updateTimer() {
        if (boom == win) {
            seconds++;
            const hours = Math.floor(seconds / 3600).toString().padStart(2, '0');
            const minutes = Math.floor((seconds % 3600) / 60).toString().padStart(2, '0');
            const secs = (seconds % 60).toString().padStart(2, '0');
            document.getElementById('timer').textContent = hours + ':' + minutes + ':' + secs;
        }
    }

    function resetTimer() {
        clearInterval(timerInterval);
        seconds = 0;
        document.getElementById('timer').textContent = '00:00:00';
        timerStarted = false;
    }

    function addCellEventListeners() {
        document.querySelectorAll('.minesweeper-cell:not(.revealed)').forEach(cell => {
            cell.addEventListener('click', handleCellClick);
            cell.addEventListener('contextmenu', right_click_func);
            cell.addEventListener('click', startTimer);
            cell.addEventListener('contextmenu', startTimer);
        });
    };

    function handleCellClick() {
        const x = this.dataset.x;
        const y = this.dataset.y;
        fetch('?x=' + x + '' + '&y=' + y + '&time=' + seconds)
        .then(response => response.text())
        .then(html => {
             const parser = new DOMParser();
             const doc = parser.parseFromString(html, 'text/html');
             game_state_reader(doc);
             document.querySelector('.minesweeper-board').innerHTML = doc.querySelector('.minesweeper-board').innerHTML;
             addCellEventListeners();
        })
    };

    function right_click_func(e) {
        e.preventDefault();
        const x = this.dataset.x;
        const y = this.dataset.y;
        fetch('?x=' + x + '' + '&y=' + y + '&rightClick=True' + '&time=' + seconds)
        .then(response => response.text())
        .then(html => {
             const parser = new DOMParser();
             const doc = parser.parseFromString(html, 'text/html');
             game_state_reader(doc);
             document.querySelector('.minesweeper-board').innerHTML = doc.querySelector('.minesweeper-board').innerHTML;
             addCellEventListeners();
        })
    };

    function restartGame() {
        resetTimer();
        fetch('?restart=True' + '&time=' + seconds)
        .then(response => response.text())
        .then(html => {
             const parser = new DOMParser();
             const doc = parser.parseFromString(html, 'text/html');
             game_state_reader(doc);
             document.querySelector('.minesweeper-board').innerHTML = doc.querySelector('.minesweeper-board').innerHTML;
             addCellEventListeners();
        })
    };
</script>
{% endblock %}