{% extends 'base.html' %}

{% block header_title %}Игра в Сапёр{% endblock %}

{% load static %}

{% block background_style %}
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('{% static "images/play.jpg" %}') no-repeat center center fixed;
        background-size: cover;
    }
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="minesweeper-board">
        {% if boom %}
            <div class="game-container">
                <div class="game-message">
                    <h2>Ты взорвался!</h2>
                    <button class="restart-button" onclick="restartGame()">Играть снова</button>
                </div>
            </div>
        {% elif win%}
            <div class="game-container">
                <div class="game-message">
                    <h2>Победа</h2>
                    <button class="restart-button" onclick="restartGame()">Играть снова</button>
                </div>
            </div>
        {% else %}
            <div class="minesweeper-controls">
                <button class="restart-button" onclick="restartGame()">Новая игра</button>
            </div>
            <div class="minesweeper-table">
                {% for row in player_view %}
                <div class="minesweeper-row">
                    {% for cell in row %}
                    <div class="minesweeper-cell"
                        data-x="{{ forloop.parentloop.counter0 }}"
                        data-y="{{ forloop.counter0 }}">
                        {{ cell }}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<style>
    .minesweeper-table {
        display: inline-block;
        border: 2px solid #333;
        background-color: #bbb;
    }

    .minesweeper-row {
        display: flex;
    }

    .minesweeper-cell {
        width: 30px;
        height: 30px;
        border: 1px solid #888;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        cursor: pointer;
        background-color: #ccc;
        color: rgb(66, 66, 66);
    }

    .minesweeper-cell:hover {
        background-color: #ddd;
    }

    .game-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

     .game-message {
        text-align: center;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        color: white;
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    }

    .defeat-message h2 {
        color: #ff6b6b;
        margin-bottom: 20px;
    }

    .restart-button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', addCellEventListeners);

    function addCellEventListeners() {
        document.querySelectorAll('.minesweeper-cell:not(.revealed)').forEach(cell => {
            cell.addEventListener('click', handleCellClick);
            cell.addEventListener('contextmenu', right_click_func);
        });
    };

    function handleCellClick() {
        const x = this.dataset.x;
        const y = this.dataset.y;
        console.log(`координаты: (${x}, ${y})`);
        fetch('?x=' + x + '' + '&y=' + y)
        .then(response => response.text())
        .then(html => {
             const parser = new DOMParser();
             const doc = parser.parseFromString(html, 'text/html');
             document.querySelector('.minesweeper-board').innerHTML = doc.querySelector('.minesweeper-board').innerHTML;
             addCellEventListeners();
        })
    };

    function right_click_func(e) {
        e.preventDefault();
        const x = this.dataset.x;
        const y = this.dataset.y;
        console.log(`координаты: (${x}, ${y})`);
        fetch('?x=' + x + '' + '&y=' + y + '&rightClick=True')
        .then(response => response.text())
        .then(html => {
             const parser = new DOMParser();
             const doc = parser.parseFromString(html, 'text/html');
             document.querySelector('.minesweeper-board').innerHTML = doc.querySelector('.minesweeper-board').innerHTML;
             addCellEventListeners();
        })
    };

    function restartGame() {
        fetch('?restart=True')
        .then(response => response.text())
        .then(html => {
             const parser = new DOMParser();
             const doc = parser.parseFromString(html, 'text/html');
             document.querySelector('.minesweeper-board').innerHTML = doc.querySelector('.minesweeper-board').innerHTML;
             addCellEventListeners();
        })
    };
</script>
{% endblock %}